html {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000;
    justify-content: center;
    align-items: center;
  }
  .word {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
  
  .loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
  }
  
  .loader{
    position: relative;
    left: 0px;
    top: 20%;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l4 2.5s infinite;
  }
  .loader:after {
    animation-delay: -1.25s;
  }
  @keyframes l4 {
    0% {
      inset: 0 35px 35px 0;
    }
    12.5% {
      inset: 0 35px 0 0;
    }
    25% {
      inset: 35px 35px 0 0;
    }
    37.5% {
      inset: 35px 0 0 0;
    }
    50% {
      inset: 35px 0 0 35px;
    }
    62.5% {
      inset: 0 0 0 35px;
    }
    75% {
      inset: 0 0 35px 35px;
    }
    87.5% {
      inset: 0 0 35px 0;
    }
    100% {
      inset: 0 35px 35px 0;
    }
  }